@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: “”;
  clear: both;
  display: table;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 1.6rem;
}

p, h2 {
  margin-bottom: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.img-background-body, body {
  background-image: url(../Imagenes/fondo-trama-ostras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-font, .titulo-contacto, .menu-cabecera h1, .container-nosotros-presentacion div h1 {
  font-family: "New-York-Regular";
  font-size: 6rem;
  font-weight: 200;
}

.subtitle-font, .container-nosotros-enlaces div h2 {
  font-family: "New-York-Regular";
  font-size: 2.7rem;
}

.container-navbar {
  height: 100px;
  background-color: #0F989A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  filter: drop-shadow(0px 0px 5px #121212);
}
.container-navbar div a img {
  width: auto;
  height: 60px;
  filter: drop-shadow(10px 7px 7px #0a5959);
}
.container-navbar div ul :hover {
  color: #EBD4B4;
}
.container-navbar div ul li {
  list-style-type: none;
}
.container-navbar div ul li a {
  color: #CBB79A;
  text-decoration: none;
}
.container-navbar div ul li a :hover {
  color: #EBD4B4;
  font-weight: 600;
}

@media (width < 800px) {
  .container-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 8px;
  }
  .container-navbar div {
    display: flex;
    justify-content: center;
  }
  .container-navbar div a img {
    width: auto;
    height: 40px;
  }
  .container-navbar div ul {
    justify-content: flex-end !important;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}
.container-footer {
  background: linear-gradient(0deg, #0a5959 0%, #0F989A 68%);
  color: whitesmoke;
  font-weight: 300;
  height: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 35px;
  grid-template-areas: "box-redes box-datos box-botones" "derechos derechos derechos";
  align-items: center;
  box-shadow: -4px -4px 15px #CBB79A;
}
.container-footer .box-redes {
  grid-area: box-redes;
}
.container-footer .box-redes li {
  list-style-type: none;
}
.container-footer .box-redes a {
  text-decoration: none;
  color: whitesmoke;
}
.container-footer .box-redes a:hover {
  font-weight: 600;
}
.container-footer .box-botones {
  grid-area: box-botones;
}
.container-footer .box-botones .boton-Whatsapp {
  position: fixed;
  bottom: 40px;
  right: 30px;
  text-decoration: none;
  filter: drop-shadow(2px 6px 7px #121212);
}
.container-footer .box-botones .boton-Whatsapp img {
  width: 50px;
  height: 50px;
}
.container-footer .box-datos {
  grid-area: box-datos;
}
.container-footer .box-datos li {
  list-style-type: none;
  text-align: center;
}
.container-footer .box-datos a {
  text-decoration: none;
  color: whitesmoke;
}
.container-footer .box-datos a:hover {
  font-weight: 600;
}
.container-footer .derechos {
  grid-area: derechos;
  place-self: center;
  font-size: small;
}
.container-footer nav ul li {
  display: flex;
  align-content: baseline;
  justify-content: center;
}
.container-footer nav ul li img {
  display: inline;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

@media (width < 800px) {
  .container-footer {
    font-size: 12px;
  }
  .container-footer .box-botones .boton-Whatsapp {
    position: fixed;
    bottom: 50px;
    right: 30px;
  }
  .container-footer .box-botones .boton-Whatsapp img {
    width: 45px;
    height: 45px;
  }
  .container-footer nav ul li img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }
}
.img-background-body, body {
  background-image: url(../Imagenes/fondo-trama-ostras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-font, .titulo-contacto, .menu-cabecera h1, .container-nosotros-presentacion div h1 {
  font-family: "New-York-Regular";
  font-size: 6rem;
  font-weight: 200;
}

.subtitle-font, .container-nosotros-enlaces div h2 {
  font-family: "New-York-Regular";
  font-size: 2.7rem;
}

.container-nosotros-presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 400px;
}
.container-nosotros-presentacion div {
  width: 50%;
}
.container-nosotros-presentacion div h1 {
  text-align: center;
}
.container-nosotros-presentacion div p {
  font-size: 2rem;
  font-weight: 200;
  font-family: "Helvetica-neue-thin";
  text-align: center;
}

@media (width < 800px) {
  .container-nosotros-presentacion {
    height: 300px;
  }
  .container-nosotros-presentacion div {
    width: 75%;
  }
  .container-nosotros-presentacion div h1 {
    text-align: center;
    font-family: "New-York-Regular";
    font-size: 3rem;
    font-weight: 200;
  }
  .container-nosotros-presentacion div p {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Helvetica-neue-thin";
    text-align: center;
  }
}
.container-nosotros-enlaces {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
  height: fit-content;
  margin-bottom: 100px;
}
.container-nosotros-enlaces div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
  gap: 5px;
}
.container-nosotros-enlaces div img {
  width: max-content;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(7px 7px 20px #CBB79A);
  margin-bottom: 20px;
}
.container-nosotros-enlaces div p {
  font-size: 1.7rem;
  font-weight: 200;
  font-family: "Helvetica-neue-thin";
  width: 75%;
  height: auto;
}
.container-nosotros-enlaces div a {
  height: auto;
  width: 10rem;
  color: white;
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: #0F989A;
  border-radius: 30px;
  border-style: none;
  padding: 10px 15px;
}
.container-nosotros-enlaces div a:hover {
  background-color: #0a5959;
}

@media (width < 800px) {
  .container-nosotros-enlaces {
    margin-top: 10px;
    row-gap: 100px;
  }
  .container-nosotros-enlaces div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 0;
  }
  .container-nosotros-enlaces div img {
    width: 260px;
    height: max-content;
    border-radius: 50%;
    filter: drop-shadow(7px 7px 20px #CBB79A);
    margin-bottom: 20px;
  }
  .container-nosotros-enlaces div p {
    width: 75%;
    height: auto;
  }
  .container-nosotros-enlaces div a {
    width: 90%;
  }
}
.container-nosotros-valoraciones {
  display: grid;
  grid-template-areas: "titulo titulo titulo " "val1 val2 val3 ";
  row-gap: 20px;
  column-gap: 40px;
  text-align: center;
  align-items: center;
  background: linear-gradient(180deg, #EBD4B4 0%, rgba(249, 228, 202, 0.9764705882) 54%);
  padding: 50px 30px;
}
.container-nosotros-valoraciones .titulo {
  grid-area: titulo;
  background: none;
  padding: 0;
}
.container-nosotros-valoraciones .val1 {
  grid-area: val1;
}
.container-nosotros-valoraciones .val2 {
  grid-area: val2;
}
.container-nosotros-valoraciones .val3 {
  grid-area: val3;
}
.container-nosotros-valoraciones .stars {
  color: #0F989A;
  padding: 0.5rem 0px;
}
.container-nosotros-valoraciones div h3 {
  font-size: 3rem;
  font-weight: 200;
  font-family: "New-York-Regular";
}
.container-nosotros-valoraciones div p {
  font-size: 1.3rem;
  font-weight: 200;
  font-family: "Quicksand";
}

@media (width < 800px) {
  .container-nosotros-valoraciones {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  .container-nosotros-valoraciones .titulo {
    background: none;
  }
  .container-nosotros-valoraciones div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
  }
  .container-nosotros-valoraciones div p {
    font-size: 1.3rem;
  }
}
.menu-cabecera {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  gap: 20px;
}
.menu-cabecera a {
  height: auto;
  width: 120px;
  color: #0a5959;
  font-family: "Quicksand";
  font-weight: 400;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 30px;
  border-style: none;
  padding: 10px 15px;
  filter: drop-shadow(5px 5px 10px #EBD4B4);
}
.menu-cabecera a:hover {
  background-color: #0a5959;
}

.menu-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 40px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 20px;
  height: fit-content;
  margin-bottom: 70px;
}
.menu-categorias div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.menu-categorias div img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgb(74, 74, 74);
}
.menu-categorias div p {
  height: auto;
  width: min-content;
  color: white;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Quicksand";
  text-decoration: none;
  background-color: #0F989A;
  border-radius: 30px;
  padding: 10px 15px;
  text-align: center;
}

@media (width < 680px) {
  .menu-categorias div p {
    height: auto;
    width: 100%;
    border-radius: 30px;
  }
}
.titulo-contacto {
  text-align: center;
  margin: 50px 0px;
}

.seccion-contacto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  max-width: 900px;
  height: max-content;
  gap: 100px;
  margin: 0 auto;
  padding: 0px 50px 100px;
}
.seccion-contacto .contacto-formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand";
}
.seccion-contacto .contacto-formulario form label {
  display: block;
}
.seccion-contacto .contacto-formulario form input[type=text],
.seccion-contacto .contacto-formulario form input[type=email],
.seccion-contacto .contacto-formulario form input[type=asunto] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.seccion-contacto .contacto-formulario form textarea {
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.seccion-contacto .contacto-formulario form input[type=submit] {
  background-color: #0F989A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 100px;
  font-size: 16px;
  align-self: center;
}
.seccion-contacto .contacto-formulario form input[type=submit]:hover {
  background-color: #0a5959;
}
.seccion-contacto .contacto-datos {
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  gap: 10px;
  font-family: "Quicksand";
}
.seccion-contacto .contacto-datos h2 {
  font-size: 30px;
  font-weight: 400;
}

.contacto-ubicacion iframe {
  width: 100%;
  height: 400px;
}

@media (width < 800px) {
  h1 {
    font-size: 3rem;
    font-weight: 200;
  }
  .contacto-ubicacion iframe {
    width: 100%;
    height: 280px;
  }
}
@font-face {
  font-family: "Helvetica-neue-thin";
  src: url("../Fuentes/helvetica-neue/HelveticaNeueLight.otf");
}
@font-face {
  font-family: "New-York-Regular";
  src: url("../Fuentes/newyork/NewYork PERSONAL USE.otf");
}

/*# sourceMappingURL=styles.css.map */
