* {
    margin: 0;
    padding: 0;
}

/* ---------- TIPOGRAFIAS ------------------------- */
@font-face {
    font-family: 'Helvetica-neue-thin';
    src: url('../Fuentes/helvetica-neue/HelveticaNeueLight.otf');
}
@font-face {
    font-family: 'New-York-Regular';
    src: url('../Fuentes/newyork/NewYork\ PERSONAL\ USE.otf');
}

/* ---------- BODY ------------------------- */

body {
    background-image: url(../Imagenes/fondo-trama-ostras.jpg);
    background-size:cover;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ---------- HEADER ------------------------- */

.container-navbar  {
    background-color: #0F9B9A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    padding: 15px 15px;
    filter: drop-shadow(0px 0px 5px #2a2a2a);
}
.container-navbar img {
    width: auto;
    height: 60px;
    filter: drop-shadow(10px 7px 7px #0a5959);
}
.container-navbar ul li{
    list-style-type: none;
}
.nav-link {
    color: #CBB79A;
    text-decoration: none;
}
.nav {
    --bs-nav-link-hover-color: #EBD4B4;
}
.nav-link :hover {
    color: #EBD4B4;
    font-weight: 600;
    
}


/* ---------- FOOTER ------------------------- */

.container-box-footer {
    background-color:#EBD4B4;
    color: black;
    display: block;
    height: max-content;
    padding: 20px;
}


/* ------- box redes -------- */

.box-redes li {
    list-style-type: none;
}

.box-redes a{
    text-decoration: none;
    color: #0d7c7c;
}

.box-redes a:hover{
    text-decoration: none;
    color: #0F9B9A;
    font-weight: 500;

}

/* ------- box botones -------- */
.box-botones {
    position: fixed;
    bottom: 60px;
    right: 20px;
}

.boton-Whatsapp {
    display: block;
    text-align: center;
    background-color: #01BB2D;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    height: auto;
    width: 7rem;
    font-size: 1rem;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 7px;
    padding: 7px 10px;
    text-decoration: none;
}

.boton-Whatsapp:hover {
    color: white;
    background-color: #008002;
    border-color: #008002;
    border-style: solid;
    border-width: 2px;
    font-weight: 400;
}


/* ------- box datos -------- */

.box-datos {
    display: block;
}

.box-datos li {
    list-style-type: none;
}

.box-datos a{
    text-decoration: none;
    color:#0d7c7c
}

.box-datos a:hover{
    color: #0F9B9A;
    font-weight: 500;

}

/* ------- box derechos -------- */

.derechos {
    font-size: small;
    color: black;
    display: block;
    text-align: center;
}



/* ---------------------------------------------------------------------------------------------- */

/* ---------- INDEX ------------------------- */

/* ----------  banner-inicio ----------- */
.background-inicio-box {
    background-image: url('../Imagenes/index/home-background-inicio.jpg');
    background-size: cover;
    background-position-y: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image: fill 0 linear-gradient(rgba(41, 40, 40, 0.2), #000);
}
.background-texto {
    text-align: center;
    color: white;
}
.background-inicio-box h1{
    font-family: 'New-York-Regular', sans-serif;
    font-size: 10rem;
    filter: drop-shadow(0px 0px 3px #121212)
}
.background-inicio-box h2{
    font-family: 'Helvetica-neue-thin', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    filter: drop-shadow(8px 2px 2px #121212)
}


/* ---------- seccion presentacion ----------- */
.seccion-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-direction: column;
    margin: 55px 0px;
    gap: 20px;
}
.seccion-presentacion img {
    height: 300px;
    width: auto;
    filter: drop-shadow(7px 3px 3px #EBD4B4)
}
.seccion-presentacion p {
    width: 450px;
    height: auto;
    text-align: center;
    line-height: 1.6;
}
.seccion-presentacion-item a {
    height: auto;
    width: 7rem;
    font-size: 2Opx;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: #0F9B9A;
    border-radius: 30em;
    border-style: none;
    padding: 15px 20px;
    position: relative;
    box-shadow: 5px 5px 12px #CBB79A ;
}
.seccion-presentacion-item a:hover {
    background-color: #0d7c7c;
}


/* ---------- seccion contenidos ----------- */
.seccion-contenidos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 70px 20px;
}
.seccion-contenidos img {
    height: 300px;
    width: auto;
    box-shadow: 5px 5px 10px #CBB79A, 
    -5px -5px 10px #CBB79A ;
}
.seccion-contenidos h3 {
    text-align: left;
    display: block;
}
.seccion-contenidos p {
    text-align: left;
    max-width: 800px;
}
.descripcion h3 {
    text-align: right;
}
.descripcion p {
    text-align: right;
}
.descripcion a {
    float: right;
}
.seccion-contenidos a {
    text-align: center;
    height: auto;
    width: 7rem;
    font-size: 1rem;
    color: #0F9B9A;
    background-color: white;
    border-color: #0d7c7c;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    padding: 5px 15px;
    margin-left: 5px;
    box-shadow: 5px 5px 12px #CBB79A ;
}
.seccion-contenidos a:hover {
    color: white;
    background-color: #0F9B9A;
    border-radius: 30px;
    border-style: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* ---------- seccion carrusel ----------- */
.seccion-carrusel {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin-bottom: 150px;
}
.carrusel-item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.3s ease;
    border-radius: 5px;
}
.carrusel-item:hover {
    flex: 7;
}
.item-1 {
    background-image: url('../Imagenes/index/home_Carrusell/Home-carrusel-1.jpg');
}
.item-2 {
    background-image: url('../Imagenes/index/home_Carrusell/Home-carrusel-2.jpg');
}
.item-3 {
    background-image: url('../Imagenes/index/home_Carrusell/Home-carrusel-3.jpg');
}
.item-4 {
    background-image: url('../Imagenes/index/home_Carrusell/Home-carrusel-4.jpg');
}
.item-5 {
    background-image: url('../Imagenes/index/home_Carrusell/Home-carrusel-5.jpg');
}


/* ---------- SECCION NOSOTROS ------------------------- */

/* ------- box nosotros presentacion -------- */

.box-nosotros-presentacion {
    display: block;
    text-align: center;
    height: 300px;
    padding-top: 70px;
}

.box-nosotros-presentacion h1 {
    font-family: 'Helvetica-neue-thin';
    font-size: 48px;
    font-weight: 200;
}

/* ------- box nosotros enlaces -------- */

.box-nosotros-enlaces {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.enlace {
    display: inline-block;
    margin-inline: 50px;
    margin-left: 110px;
}
.enlace img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #0d7c7c;
}
.enlace h2 {
    font-size: 24px;
}
.enlace p {
    width: 300px;
    text-align: center;
    font-size: 18px;
}

.enlace a {
    height: auto;
    width: 6rem;
    font-size: 18px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    background-color: #0F9B9A;
    border-radius: 30px;
    border-style: none;
    padding: 10px 15px;
}

.enlace a:hover {
    background-color: #0d7c7c;
}

/* ------- box nosotros valoraciones -------- */

.box-nosotros-valoraciones {

    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    background-color:#EBD4B4;
    padding: 20px;

}

.box-nosotros-valoraciones h3 {
    color: #0d7c7c;
    display: block;
    text-align: center;
    /* font-family: 'Helvetica-neue-thin'; */
    font-size: 24px;   
    font-weight: 200;
    margin-bottom: 60px;
}

.box-nosotros-valoraciones div {
    display: inline-block;
    margin-inline: 20px;
}

.box-nosotros-valoraciones div p {

    text-align: center;
    font-size: 1rem;
    font-style: oblique ;
    max-width: 400px;
    max-height: 100px;
    
    border-style: dotted;
    padding: 20px;
    border-radius: 80px;
    border-width: 2px;
    border-color: #CBB79A;
}

/* ---------- SECCION ESPACIOS ------------------------- */

.espacios-box-main {
    display: inline-block;
    padding-top: 70px;
}

.seccion-menu h1{
    font-family: 'Helvetica-neue-thin';
    font-size: 48px;
    font-weight: 200;
}

.espacios-menu li {
    list-style-type: none;
}

/* ------- seccion categorias -------- */

.menu-cabecera {
    display: block;
    text-align: center;
    height: auto;
    padding-top: 70px;
}
.menu-cabecera h1 {
    display: block;
    text-align: center;
    font-family: 'Helvetica-neue-thin';
    font-size: 48px;
    font-weight: 200;
}

.menu-categorias {
    display: inline-block;
    width: 100%;
    padding-top: 90px;
}


.menu-cabecera a {
    height: auto;
    width: 8rem;
    font-size: 20px;
    color: #0d7c7c;
    background-color: white;
    border-color: #0d7c7c;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 5px 15px;
    margin-left: 5px;
}

.menu-cabecera a:hover {
    color: white;
    background-color: #0F9B9A;
    border-radius: 30px;
    border-style: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.menu-categorias div {
    display: inline-block;
}

.menu-categorias a {
    height: auto;
    width: 6rem;
    font-size: 18px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    background-color: #0F9B9A;
    border-radius: 30px;
    border-style: none;
    padding: 10px 15px;
}

.menu-categorias a:hover {
    background-color: #0d7c7c;
}

.menu-categorias img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}


/* ---------- SECCION ESPACIOS ------------------------- */

.seccion-contacto {
    width: max-content;
    padding: 20px 40px;
    display: inline-block;

    height: auto;
}

.contacto-formulario h1 {
    font-family: 'Helvetica-neue-thin';
    font-size: 36px;
    font-weight: 200;
}

.contacto-formulario {
    float: left;
    margin-inline: 30px;
}

.contacto-formulario form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
}

.contacto-formulario label {
    display: block;
}

.contacto-formulario input[type="text"],
input[type="email"], input[type="asunto"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contacto-formulario textarea {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contacto-formulario input[type="submit"] {
    background-color: #0F9B9A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.contacto-formulario input[type="submit"]:hover {
    background-color: #0d7c7c;
}

.contacto-datos {
    float: right;
    text-align: center;
    width: 300px;
}

.contacto-datos h2 {
    font-family: 'Helvetica-neue-thin';
    font-size: 30px;
    font-weight: 100;
}

.contacto-ubicacion iframe {
    width: 100%;
    height: 400px;
}



/* BOTON{
    text-align: center;
    display: block;
    height: auto;
    width: 6rem;
    font-size: 1rem;
    color: #0F9B9A;
    background-color: white;
    border-color: #0d7c7c;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 7px;
    padding: 7px 10px;
    text-decoration: none;
   
}

.BOTON:hover {
    color: white;
    background-color: #0d7c7c;
    border-color: #0d7c7c;
    border-style: solid;
    border-width: 2px;
    font-weight: 400;
} */