.container-footer {
    background: linear-gradient(0deg, map-get($colors-map,dark-green-color) 0%, map-get($colors-map,light-green-color) 68%);
    color: whitesmoke;
    font-weight: 300;
    height: 130px; //ver aca responsive
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 35px;
    grid-template-areas: 
    "box-redes box-datos box-botones"
    "derechos derechos derechos";
    align-items: center;
    box-shadow: -4px -4px 15px map-get($colors-map, dark-beige-color);

    .box-redes {
        grid-area: box-redes;
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        a:hover {
            font-weight: 600;
        }
    }
    .box-botones {
        grid-area: box-botones;
        .boton-Whatsapp {
            position: fixed;
            bottom: 40px;
            right: 30px;
            text-decoration: none;
            filter: drop-shadow(2px 6px 7px map-get($colors-map, black-shadow-color));
            img {
                @include img(50px,50px);
            }
        }
    }
    .box-datos {
        grid-area: box-datos;
        li {
            list-style-type: none;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: whitesmoke;
        }
        a:hover {
            font-weight: 600;
        }
    }
    .derechos {
        grid-area: derechos;
        place-self: center;
        font-size: small;
    }

    nav {
        ul {
            li {
                display: flex;
                align-content: baseline;
                justify-content: center;
                img {
                    display: inline;
                    margin-right: 10px;
                    @include img(25px,25px);
                }
            }
        }
    }

}

@media (width < 800px) {
    .container-footer {
        font-size: 12px;
        .box-botones {
            .boton-Whatsapp {
                position: fixed;
                bottom: 50px;
                right: 30px;
                img {
                    @include img(45px,45px);
                }
            }
        }
        nav {
            ul {
                li {
                    img {
                        margin-right: 5px;
                        @include img(18px,18px);
                    }
                }
            }
        }
    }
}