.container-navbar  {
    height: 100px;
    background-color: map-get($colors-map, light-green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    filter: drop-shadow(0px 0px 5px $shadow);
    div {
        a{
            img {
                width: auto;
                height: 60px;
                filter: drop-shadow(10px 7px 7px map-get($colors-map, dark-green-color));
            }
        }
        ul {
            :hover {
                color: map-get($colors-map, beige-color);
            }
            li {
                list-style-type: none;
                a {
                    color: map-get($colors-map, dark-beige-color);
                    text-decoration: none;
                    :hover {
                        color: map-get($colors-map, beige-color);
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .selected{
        color: map-get($colors-map, beige-color);
        font-weight: 600;
        border-style: none;
    }
}

@media (width < 800px) {
    .container-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 8px;
        div {
            a {
                img {
                    width: auto;
                    height: 40px;
                }
            }
            display: flex;
            justify-content: center;
            ul {
                justify-content: flex-end !important;
            }
        } 
    }
    .nav-link {
        font-size: 1.5rem;
    }
}


