// TIPOGRAFIAS

$typography-map: (
    title-font: 'New-York-Regular',
    paragraph-font: 'Helvetica-neue-thin',
    basis-font: 'Quicksand',
);


// COLORES
$colors-map: (
    dark-green-color: #0a5959,
    light-green-color: #0F989A,
    dark-beige-color: #CBB79A,
    beige-color: #EBD4B4,
    light-beige-color: #f9e4caf9,
    whatsapp-green-color: #01BB2D,
    black-shadow-color: #121212,
)